<section>
    <h1>Best Rated Plays</h1>
    <div class="theaters-container">

        {{#each plays}}
        {{>guestPlayPartial}}
        {{else}}
        <h4>No plays yet...</h4>
        {{/each}}
    </div>
</section>